<header> 
    <nav> 
        <ul class="nav justify-content-end my-2"> 
            <li class="nav-item"> 
                <a href="" class="nav-link">Home</a> 
            </li> 
            <li class="nav-item"> 
                <a href="" class="nav-link">Posts</a> 
            </li> 
            <li class="nav-item"> 
                <a href="" class="nav-link">Tags</a> 
            </li>
            <li class="nav-item">
                <form class="d-flex" action="" role="search"> 
                    <input class="form-control me-2" type="search" placeholder="Pesquise..."> 
                    <button class="btn btn-outline-success" type="submit"> 
                        <i class="fa-solid fa-magnifying-glass"></i> 
                    </button> 
                </form> 
            </li> 
            <li class="nav-item"> 
                <a href="" class="nav-link">Perfil</a> 
            </li> 
        </ul> 
    </nav> 
</header>