    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">

            <a class="navbar-brand" href="{% url 'core:home' %}">My Blog</a>

            <!-- botão mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:home' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts:lista' %}">Posts</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tags:tags' %}">Tags</a>
                    </li>

                    <!-- form search -->
                    <li class="nav-item">
                        <form class="d-flex mx-lg-3 my-2 my-lg-0" action="{% url 'core:home' %}" method="GET">
                            <input class="form-control me-2" 
                                type="search" 
                                placeholder="Pesquise..." 
                                name="busca" 
                                value="{{ request.GET.busca }}"
                            >
                            <button class="btn btn-outline-success" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </li>
                    
                    
                    {% if request.user.is_authenticated %}    
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:perfil' %}">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'usuarios:logout' %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-secondary">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'usuarios:login' %}"
                            >
                                Entrar
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>