{% extends 'base.html' %}



{% block title %}
    Dados
{% endblock title %}
    

{% block content %}


    <div class="container d-flex justify-content-center">
        <div class="card col-12 col-md-8 col-lg-6 p-4">
            <h2 class="text-center mb-4">Editar Dados</h2>

                {% include 'partials/_form_errors_geral.html' with form=form %}
                <form method="POST" action="{% url 'usuarios:editar' %}">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label" for="{{ field.id_for_label}}">{{ field.label }}</label>
                            {{ field }}
                            {% include 'partials/_field_errors.html' with field=field %}
                        </div>
                    {% endfor %}
                    
                    <div class="d-flex gap-1">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                        <a href="{% url 'usuarios:perfil' %}" class="btn btn-secondary">Voltar</a>
                    </div>
                </form>
        </div>
    </div>
{% endblock content %}
    